
section {
    font-size:16px;
    font-family: arial,sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#header {
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo {
  height: 50%;
  max-width: 50%;
}
.menu li {
    display: inline-block;
    padding: 0px 15px;
}
.menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.menu li a:hover {
    background-color: #017143;
    color: #fff;
    border: 2px solid #017143;
    box-sizing: border-box;
    border-radius: 15px;
    transition: all 0.3s;
}
#wp-content {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.content {
    line-height: 1.1;
    max-width: 600px;
    margin-top: 180px;
}
.content p {
    font-size: 60px;
    font-weight: bold;
}
.content span {
    color: #017143;
    font-size: 70px;
    font-weight: 900px;
}
.more {
    display: inline-block;
    margin-top: 20px;
    background-color: #017143;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #017143;
    border-radius: 25px;
}
.more:hover {
    background-color: #10ac84;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.sidebar {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar img {
    max-width: 250px;
}
.sidebar .social li {
    list-style: none;
    margin: 25px 0px;
    cursor: pointer;
    transform: scale(0.6);  /*do rong cua social */
    filter: invert(1);
}
#footer {
    padding: 0px 50px;
    margin-top: 20px;
    display: flex;
    justify-content:center;
    position: relative;
}
.thumb {
    display: flex;
    justify-content:center;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    cursor: pointer;
    transition: all 0.5s;
}
.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width: 60px;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#017143;
    clip-path: circle(800px at right 1000px);
}

